<div id="<%= dom_id reservation %>">
  <p>
    <strong>Name:</strong>
    <%= reservation.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= reservation.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reservation.description %>
  </p>

</div>
